* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 8vh;
  width: 8vh;
  position: relative;
}

.menuLogo::after {
  content: '';
  background-color: #224499;
  z-index: 1;
  width: 5vh;
  height: 5vh;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  position: absolute;
  -webkit-transform: translate(-130%, 30%);
          transform: translate(-130%, 30%);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 24px;
}

.hero {
  height: 90vh;
  position: relative;
}

.relative {
  position: relative;
}

.relative::after {
  content: '';
  display: block;
  width: 100%;
  height: 15vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#040404), to(rgba(4, 4, 4, 0)));
  background: linear-gradient(180deg, #040404 0%, rgba(4, 4, 4, 0) 100%);
  -webkit-transform: translate(0%, -1%);
          transform: translate(0%, -1%);
  position: absolute;
  z-index: 1;
}

.bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.bg-hero::after {
  content: '';
  display: block;
  width: 150%;
  height: 15vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 4, 4, 0)), color-stop(53.65%, #040404));
  background: linear-gradient(180deg, rgba(4, 4, 4, 0) 0%, #040404 53.65%);
  -webkit-transform: translate(-5%, 85vh);
          transform: translate(-5%, 85vh);
  position: absolute;
  z-index: 1;
}

.full-screen {
  width: 100%;
}

.svg-hero {
  -webkit-transform: scale(3) rotate(-35deg) translate(0%, -3%);
          transform: scale(3) rotate(-35deg) translate(0%, -3%);
}

.nome {
  padding-left: 30px;
  margin-top: 30vh;
  z-index: 2;
}

#n2 {
  padding-left: 7.2%;
}

.profissao {
  text-align: right;
  padding-right: 30px;
  margin-top: 12vh;
}

#p2 {
  padding-right: 13.5%;
  margin-top: 10px;
}

.about {
  text-align: center;
  padding-right: 3%;
  margin-top: 15vh;
}

.sobre {
  margin-bottom: 10px;
  color: #4180CB;
  margin-top: 12vh;
}

.bntt {
  margin-top: 15vh;
  padding-bottom: 15vh;
}

.botao {
  -webkit-transition: 0.30s ease;
  transition: 0.30s ease;
  padding: 0;
  font-size: 2vh;
  color: #549CF0;
  -webkit-backdrop-filter: blur(299px);
          backdrop-filter: blur(299px);
}

.botao::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 12vh;
  height: 12vh;
  -webkit-transform: translate(-9.5%, -60%);
          transform: translate(-9.5%, -60%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 1;
  border: 2px solid #224499;
  border-radius: 100%;
}

.botao:hover {
  font-size: 2vh;
  -webkit-box-shadow: 3px 30px 20px 0px #2244993a;
          box-shadow: 3px 30px 20px 0px #2244993a;
  color: #E9EFFF;
}

.botao:hover::after {
  border-color: #C0C5D2;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.edicao-foto {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 2%;
}

.fotos {
  margin-top: 5vh;
}

.fotos:hover .antes {
  -webkit-transform: translate(0vh, 0%);
          transform: translate(0vh, 0%);
}

.fotos:hover .depois {
  -webkit-transform: translate(0vh, 0%);
          transform: translate(0vh, 0%);
  opacity: 100%;
  -webkit-animation: none;
          animation: none;
}

.antes {
  height: 75vh;
  width: auto;
  border-radius: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: -1;
  position: relative;
  -webkit-transform: translate(20vh, 0%);
          transform: translate(20vh, 0%);
}

.depois {
  height: 75vh;
  width: auto;
  border-radius: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1;
  -webkit-transform: translate(-22.7vh, 0%);
          transform: translate(-22.7vh, 0%);
  -webkit-animation: show 5s ease infinite;
          animation: show 5s ease infinite;
}

.lista {
  width: 100%;
  height: 10vh;
  border-top: 2px solid #549CF0;
  border-bottom: 2px solid #549CF0;
  margin-bottom: 5vh;
  position: relative;
  overflow: hidden;
}

.habilidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 140%;
  padding-top: 2.4vh;
  -webkit-animation: move1 15s infinite alternate;
          animation: move1 15s infinite alternate;
}

.divisor {
  width: 10px;
  height: 10px;
  content: "";
  background-color: #549CF0;
  border-radius: 100%;
}

.contatos {
  margin-top: 5vh;
  padding-left: 30px;
  padding-bottom: 10vh;
}

.redes {
  margin-top: 2vh;
}

.ico {
  height: 3vh;
  width: auto;
}

.rede {
  margin-top: 1vh;
  padding-left: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 90%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profissao {
    margin-top: 30vh;
  }
  .svg-hero {
    -webkit-transform: scale(7) rotate(-55deg) translate(0%, -2.5%);
            transform: scale(7) rotate(-55deg) translate(0%, -2.5%);
  }
  .bg-hero::after {
    -webkit-transform: translate(-5%, 86vh);
            transform: translate(-5%, 86vh);
    width: 150%;
  }
  .nome {
    margin-top: 50px;
  }
  .about {
    margin-top: 30vh;
  }
  .sobre {
    margin-top: 0vh;
  }
  .subtitle {
    margin-bottom: 0vh;
  }
  .edicao-foto {
    margin-top: 0;
    padding-top: 0vh;
  }
  .fotos {
    display: block;
    padding-left: auto;
    padding-right: auto;
    margin: 0;
    padding-top: 0;
  }
  .antes {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    height: 50vh;
    width: auto;
  }
  .depois {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    height: 50vh;
    width: auto;
    -webkit-animation: none;
            animation: none;
  }
}

#frente {
  -webkit-animation: move 3s ease infinite alternate;
          animation: move 3s ease infinite alternate;
}

#onda1 {
  -webkit-animation: move 5s ease infinite alternate;
          animation: move 5s ease infinite alternate;
}

#onda2 {
  -webkit-animation: move 4s ease infinite alternate;
          animation: move 4s ease infinite alternate;
}

#onda3 {
  -webkit-animation: move 6s ease infinite alternate;
          animation: move 6s ease infinite alternate;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-5vh, 0%);
            transform: translate(-5vh, 0%);
  }
  100% {
    -webkit-transform: translate(5vh, 0%);
            transform: translate(5vh, 0%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-5vh, 0%);
            transform: translate(-5vh, 0%);
  }
  100% {
    -webkit-transform: translate(5vh, 0%);
            transform: translate(5vh, 0%);
  }
}

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(-77vh, 0%);
            transform: translate(-77vh, 0%);
  }
  100% {
    -webkit-transform: translate(2vh, 0%);
            transform: translate(2vh, 0%);
  }
}

@keyframes move1 {
  0% {
    -webkit-transform: translate(-77vh, 0%);
            transform: translate(-77vh, 0%);
  }
  100% {
    -webkit-transform: translate(2vh, 0%);
            transform: translate(2vh, 0%);
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 7vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 5vh;
}

h4 {
  font-size: 4vh;
}

h5 {
  font-size: 3vh;
}

a, p {
  text-decoration: none;
  color: #E9EFFF;
  font-size: 2.3vh;
  font-weight: 200;
}

.link {
  padding: 16px 16px;
  position: relative;
  -webkit-transition: 0.30s ease;
  transition: 0.30s ease;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 70%;
  height: 1px;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
  background-color: #4180CB;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.link:hover {
  color: #4180CB;
  font-size: 16px;
}

.link:hover::after {
  -webkit-transform: translate(25%, -100%);
          transform: translate(25%, -100%);
  opacity: 1;
}

body {
  width: 100%;
  background-color: #040404;
  color: #E9EFFF;
}

body::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 1220px) {
  .menuRight {
    display: none;
  }
  .menuLeft {
    display: none;
  }
  header {
    justify-csontent: center;
  }
}

.border {
  border: 1px solid red;
}
/*# sourceMappingURL=style.css.map */