//menu
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px; 
    align-items: center;
}

.logo{
   //height: 50px;
   //width: 50px;
   height: 8vh;
   width: 8vh;

}

//container
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 24px;
}
.hero{
    height: 90vh;
}

//content
.nome{
    padding-left: 30px;
    margin-top: 45px;
}
#n2{
    padding-left: 7.2%;
}

.profissao{
    text-align: right;
    padding-right: 30px;
}
#p2{
    padding-right: 13.5%;
    margin-top: 10px;
}

.about{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}
.sobre{
    margin-bottom: 2px;
    color: $blue1;
}
.bntt{
    margin-top: 50px;
}

.botao{
    transition: 0.30s ease;
    padding: 0;
    font-size: 3vh;
    color: $blue0;
    backdrop-filter: blur(299px);
    &:hover{
        font-size: 2vh;
        box-shadow: 3px 30px 20px 0px #22449973;
        color: $white0;
    }
}



@media screen and (max-width: 1200px){
    .hero{
        height: 90%;
    }
    .container{
        flex-direction: column;
    }
    .profissao{
        margin-top: 50px;
    }
    
}
